@page "/Setup"

@using BlazorGloser.Services

@inject NavigationManager NavigationManager

<div class="card">
    <div class="setup_gloser" style="padding:3px;background-color:lavender;border:dotted">

        <span class="span_gloser">
            <label for="language">Language:</label>
            <select name="order" id="order" @bind="@dt.LangToFrom">
                <option value=@LangToFrom.SpaEng>Spa Eng</option>
                <option value=@LangToFrom.EngSpa>Eng Spa</option>
                <option value=@LangToFrom.SpaNor>Spa Nor</option>
                <option value=@LangToFrom.NorSpa>Nor Spa</option>
            </select>
        </span>

        <span class="span_gloser">
            <label for="order">Order:</label>
            <select name="order" id="order" @bind="@dt.Order">
                <option value=@Order.Sequental>Sequental</option>
                <option value=@Order.Random>Random</option>
                <option value=@Order.Artif_Int>Artif.Int.</option>
            </select>
        </span>

        <span class="span_gloser">
            <label for="bach">Words:</label>
            <select name="batch" id="batch" @bind="@dt.NumBatch">
                @foreach (var x in new[] { 1, 2, 3, 4, 5, 6, 7, 8, 10, 20 })
                {
                    <option value=@x>@x</option>
                }
            </select>
        </span>

        <div style="border: 2px solid black; padding:4px;">
            <span class="span_gloser">
                <label for="words">Dict:</label>
                <select name="words" id="words" @bind="@dt.NTotal">
                    @foreach (var x in new[] { 1000 })
                    {
                        <option value=@x>@x Common</option>
                    }
                </select>
            </span>

            <span class="span_gloser">
                <label for="step">Step:</label>
                <select name="step" id="step" @bind="@dt.Step">
                    @foreach (var x in new[] { 10, 25, 50, 100, 200 })
                    {
                        <option value=@x>@x</option>
                    }
                </select>
            </span>
            <span class="span_gloser">
                <label for="words">Sub:</label>
                <select name="words" id="words" @bind="@dt.IdxStart">
                    <option value=-1>All</option>
                    @foreach (var x in SubTotal)
                    {
                        int x2 = x + dt.Step;
                        <option value=@x>@x-@x2</option>
                    }
                </select>
            </span>
        </div>

        <span class="span_gloser">
            <label for="mode">Mode:</label>
            <select name="mode" id="mode" @bind="@dt.Mode">
                <option value=@Mode.Scrolling>Scrolling (time)</option>
                <option value=@Mode.OneByOne>One by one (time)</option>
                <option value=@Mode.All_Time>All (time)</option>
                <option value=@Mode.All_Now>Show - all at once</option>
                <option value=@Mode.All_Man>Show - all press button</option>
            </select>
        </span>
        <span id="_idTime" class="span_gloser" hidden="@HideIdTime">
            <label for="dt.SecThink">Think:</label>
            <select name="dt.SecThink" id="dt.SecThink" @bind="@dt.SecThink">
                @foreach (var x in new[] { 500, 1000, 1500, 2000, 3000, 4000, 6000, 8000 })
                {
                    <option value=@x>@x ms</option>
                }
            </select>

            <span id="_idAutoNext">
                <label for="autonext">Next:</label>
                <select name="autonext" id="autonext" @bind="@dt.Auto">
                    <option value=@Auto.Manual>Manual Next</option>
                    <option value=@Auto.Auto1s>Wait 1s</option>
                    <option value=@Auto.Auto2s>Wait 2s</option>
                    <option value=@Auto.Auto3s>Wait 3s</option>
                    <option value=@Auto.Auto5s>Wait 5s</option>
                </select>
            </span>

        </span>
    </div>
</div>

<br />
<button class="btn-gloserSetup" @onclick="OnSaveAndGloser">Save, Goto Gloser</button>
<button class="btn-gloserSetup" @onclick="OnSave">Save</button>
<button class="btn-gloserSetup" @onclick="ClearBuffer">Reset</button>

<h3>@strMsg</h3>

@code {
    string strMsg { get;set;} = "";

    [Inject]
    protected ILocalStorageService Storage { get; set; }


    private bool HideIdTime { get => (dt.Mode == Mode.All_Man || dt.Mode == Mode.All_Now); }

    // [Parameter]
    // private Gloser g = Gloser.GetGloser();
    // private static Data dt = Gloser.GetData();
    static Data dt = Gloser.GetData();


    [Parameter]
    public RenderFragment ChildContent { get; set; }


    //[Parameter]
    //public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
    public int[] SubTotal
    {
        get
        {
            List<int> l = new();
            for (int i=0; i < dt.NTotal; i += Math.Max(10, dt.Step))
                l.Add(i);
            return l.ToArray();
        }
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadParams();
        StateHasChanged();

    }

    public async Task LoadParams()
    {
        try
        {
            dt = await Storage.GetItem<Data>("__gloser");
            if (dt.Equals(default(Data)))
                dt.Default();
        }
        catch (Exception)
        {
            dt.Default();
            strMsg = "First time - using default values";
        }

    }

    private void OnLangChoise(LangToFrom lang)
    {
        dt.LangToFrom = lang;

    }

    private async void OnSave()
    {
        Data tmp = dt;

        await Storage.SetItem("__gloser", tmp);
        await Task.Delay(100);
        Data tmp2 = await Storage.GetItem<Data>("__gloser");

        if (tmp2.Equals(tmp))
            strMsg = "Save Successfull";
        else
            strMsg = "Save Failed";
        StateHasChanged();
    }

    private void OnSaveAndGloser()
    {
        OnSave();
        NavigationManager.NavigateTo("Gloser");
    }

    public void ClearBuffer()
    {
        Storage.RemoveItem("__gloser");
        dt.Default();
        StateHasChanged();
    }

}
